# **Librerias**

In [392]:
import pandas as pd
import matplotlib.pyplot as plt

# **Informacion de equipos en la temorada 2023 - 2024** para hacer container

In [393]:
# Cargar el archivo CSV
df_team = pd.read_csv('../../Datasett/TeamSeason23_24.csv')
df_team_historia = pd.read_csv('../../Datasett/Teams.csv')
df_ciudades = pd.read_csv('../../Datasett/ciudades.csv')
df_team.head()

,Team,G,MP,FG,FGA,FG%,3P,3PA,3P%,2P,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,Indiana Pacers,82,19705,3855,7599,0.507,1082,2891,0.374,2773,...,0.782,827,2578,3405,2522,631,481,1059,1756,10110
1,Boston Celtics,82,19830,3601,7396,0.487,1351,3482,0.388,2250,...,0.807,876,2923,3799,2207,557,538,979,1326,9887
2,Oklahoma City Thunder,82,19805,3653,7324,0.499,1090,2805,0.389,2563,...,0.825,722,2725,3447,2223,694,538,1039,1545,9847
3,Milwaukee Bucks,82,19805,3538,7258,0.487,1163,3122,0.373,2375,...,0.774,772,2850,3622,2176,558,413,1059,1574,9756
4,Atlanta Hawks,82,19855,3529,7584,0.465,1125,3092,0.364,2404,...,0.797,1024,2639,3663,2180,615,369,1110,1522,9703

### Informacion Columnas:

- **Rk**: Rango
- **G**: Juegos Jugados
- **MP**: Minutos Jugados
- **FG**: Canastas de Campo
- **FGA**: Intentos de Canasta de Campo
- **FG%**: Porcentaje de Canastas de Campo
- **3P**: Triples Encestados
- **3PA**: Intentos de Triple
- **3P%**: Porcentaje de Triples
- **2P**: Dobles Encestados
- **2PA**: Intentos de Dobles
- **2P%**: Porcentaje de Dobles
- **FT**: Tiros Libres Encestados
- **FTA**: Intentos de Tiro Libre
- **FT%**: Porcentaje de Tiros Libres
- **ORB**: Rebotes Ofensivos
- **DRB**: Rebotes Defensivos
- **TRB**: Rebotes Totales
- **AST**: Asistencias
- **STL**: Robos
- **BLK**: Bloqueos
- **TOV**: Pérdidas de Balón
- **PF**: Faltas Personales
- **PTS**: Puntos

In [394]:
df_team.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 24 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Team    30 non-null     object
 1   G       30 non-null     int64
 2   MP      30 non-null     int64
 3   FG      30 non-null     int64
 4   FGA     30 non-null     int64
 5   FG%     30 non-null     float64
 6   3P      30 non-null     int64
 7   3PA     30 non-null     int64
 8   3P%     30 non-null     float64
 9   2P      30 non-null     int64
 10  2PA     30 non-null     int64
 11  2P%     30 non-null     float64
 12  FT      30 non-null     int64
 13  FTA     30 non-null     int64
 14  FT%     30 non-null     float64
 15  ORB     30 non-null     int64
 16  DRB     30 non-null     int64
 17  TRB     30 non-null     int64
 18  AST     30 non-null     int64
 19  STL     30 non-null     int64
 20  BLK     30 non-null     int64
 21  TOV     30 non-null     int64
 22  PF      30 non-null     int64
 23  PTS     30 non-null     int64
dtypes: float64(4), int64(19), object(1)
memory usage: 5.8+ KB

### Modificacion de datasett

In [395]:
# Crear columna PTS_por_juego
df_team['PTS_por_juego'] = df_team['PTS'] / 82
df_team['PTS_por_juego'] = df_team['PTS_por_juego'].astype(int)

df_team = df_team.sort_values(by='PTS_por_juego', ascending=False)

df_team.head()

,Team,G,MP,FG,FGA,FG%,3P,3PA,3P%,2P,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,PTS_por_juego
0,Indiana Pacers,82,19705,3855,7599,0.507,1082,2891,0.374,2773,...,827,2578,3405,2522,631,481,1059,1756,10110,123
2,Oklahoma City Thunder,82,19805,3653,7324,0.499,1090,2805,0.389,2563,...,722,2725,3447,2223,694,538,1039,1545,9847,120
1,Boston Celtics,82,19830,3601,7396,0.487,1351,3482,0.388,2250,...,876,2923,3799,2207,557,538,979,1326,9887,120
3,Milwaukee Bucks,82,19805,3538,7258,0.487,1163,3122,0.373,2375,...,772,2850,3622,2176,558,413,1059,1574,9756,118
4,Atlanta Hawks,82,19855,3529,7584,0.465,1125,3092,0.364,2404,...,1024,2639,3663,2180,615,369,1110,1522,9703,118

In [396]:
# cambiar el nombre de la columna
df_team = df_team.rename(columns={"Team": "equipo"})

df_team_historia = df_team_historia.rename(columns={"Franchise": "equipo"})
df_team_historia = df_team_historia.rename(columns={"Champ": "campeonatos"})

In [397]:
# crear df
df_seleccionado = df_team_historia[["equipo", "campeonatos"]]
df_seleccionado.head()

              equipo  campeonatos
0      Atlanta Hawks            1
1     Boston Celtics           18
2      Brooklyn Nets            2
3  Charlotte Hornets            0
4      Chicago Bulls            6

In [398]:
# Unir los dos DataFrames por la columna 'equipo'
df_combinado_equipos = pd.merge(df_seleccionado, df_ciudades, on='equipo')

df_combinado_equipos = pd.merge(df_combinado_equipos, df_team[["equipo","PTS_por_juego"]], on='equipo')
df_combinado_equipos.head()

,equipo,campeonatos,ciudad,posicion,conferencia,PTS_por_juego
0,Atlanta Hawks,1,Atlanta,10,Este,118
1,Boston Celtics,18,Boston,1,Este,120
2,Brooklyn Nets,2,Brooklyn,11,Este,110
3,Charlotte Hornets,0,Charlotte,13,Este,106
4,Chicago Bulls,6,Chicago,9,Este,112

# **Informacion de jugadores en la temorada 2023 - 2024**  para hacer container

In [399]:
# Cargar el archivo CSV especificando la codificación y el separador ;
df_players = pd.read_csv('../../Datasett/PlayerSeason23_24.csv', encoding='latin1')
df_players.head()

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Precious Achiuwa,PF-C,24,TOT,74,18,21.9,3.2,6.3,...,0.616,2.6,4.0,6.6,1.3,0.6,0.9,1.1,1.9,7.6
1,1,Precious Achiuwa,C,24,TOR,25,0,17.5,3.1,6.8,...,0.571,2.0,3.4,5.4,1.8,0.6,0.5,1.2,1.6,7.7
2,1,Precious Achiuwa,PF,24,NYK,49,18,24.2,3.2,6.1,...,0.643,2.9,4.3,7.2,1.1,0.6,1.1,1.1,2.1,7.6
3,2,Bam Adebayo,C,26,MIA,71,71,34.0,7.5,14.3,...,0.755,2.2,8.1,10.4,3.9,1.1,0.9,2.3,2.2,19.3
4,3,Ochai Agbaji,SG,23,TOT,78,28,21.0,2.3,5.6,...,0.661,0.9,1.8,2.8,1.1,0.6,0.6,0.8,1.5,5.8

### Informacion Columnas:

- **Rk** : Rango
- **Player** : Nombre del jugador
- **Pos** : Posición
- **Age** : Edad del jugador
- **Tm** : Equipo
- **G** : Juegos jugados
- **GS** : Juegos iniciados
- **MP** : Minutos jugados por juego
- **FG** : Canastas de campo por juego
- **FGA** : Intentos de canasta de campo por juego
- **FG%** : Porcentaje de canastas de campo
- **3P** : Triples por juego
- **3PA** : Intentos de triple por juego
- **3P%** : Porcentaje de triples
- **2P** : Dobles por juego
- **2PA** : Intentos de dobles por juego
- **2P%** : Porcentaje de dobles
- **eFG%** : Porcentaje de tiro de campo efectivo
- **FT** : Tiros libres por juego
- **FTA** : Intentos de tiro libre por juego
- **FT%** : Porcentaje de tiros libres
- **ORB** : Rebotes ofensivos por juego
- **DRB** : Rebotes defensivos por juego
- **TRB** : Rebotes totales por juego
- **AST** : Asistencias por juego
- **STL** : Robos por juego
- **BLK** : Bloqueos por juego
- **TOV** : Pérdidas de balón por juego
- **PF** : Faltas personales por juego
- **PTS** : Puntos por juego

In [400]:
df_players.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 735 entries, 0 to 734
Data columns (total 30 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Rk      735 non-null    int64
 1   Player  735 non-null    object
 2   Pos     735 non-null    object
 3   Age     735 non-null    int64
 4   Tm      735 non-null    object
 5   G       735 non-null    int64
 6   GS      735 non-null    int64
 7   MP      735 non-null    float64
 8   FG      735 non-null    float64
 9   FGA     735 non-null    float64
 10  FG%     735 non-null    float64
 11  3P      735 non-null    float64
 12  3PA     735 non-null    float64
 13  3P%     735 non-null    float64
 14  2P      735 non-null    float64
 15  2PA     735 non-null    float64
 16  2P%     735 non-null    float64
 17  eFG%    735 non-null    float64
 18  FT      735 non-null    float64
 19  FTA     735 non-null    float64
 20  FT%     735 non-null    float64
 21  ORB     735 non-null    float64
 22  DRB     735 non-null    float64
 23  TRB     735 non-null    float64
 24  AST     735 non-null    float64
 25  STL     735 non-null    float64
 26  BLK     735 non-null    float64
 27  TOV     735 non-null    float64
 28  PF      735 non-null    float64
 29  PTS     735 non-null    float64
dtypes: float64(23), int64(4), object(3)
memory usage: 172.4+ KB

### Modificacion de datasett

In [401]:
# cambiar nombre de filas
team_names = {
    'ATL': 'Atlanta Hawks',
    'BOS': 'Boston Celtics',
    'BRK': 'Brooklyn Nets',
    'CHO': 'Charlotte Hornets',
    'CHI': 'Chicago Bulls',
    'CLE': 'Cleveland Cavaliers',
    'DAL': 'Dallas Mavericks',
    'DEN': 'Denver Nuggets',
    'DET': 'Detroit Pistons',
    'GSW': 'Golden State Warriors',
    'HOU': 'Houston Rockets',
    'IND': 'Indiana Pacers',
    'LAC': 'Los Angeles Clippers',
    'LAL': 'Los Angeles Lakers',
    'MEM': 'Memphis Grizzlies',
    'MIA': 'Miami Heat',
    'MIL': 'Milwaukee Bucks',
    'MIN': 'Minnesota Timberwolves',
    'NOP': 'New Orleans Pelicans',
    'NYK': 'New York Knicks',
    'OKC': 'Oklahoma City Thunder',
    'ORL': 'Orlando Magic',
    'PHI': 'Philadelphia 76ers',
    'PHO': 'Phoenix Suns',
    'POR': 'Portland Trail Blazers',
    'SAC': 'Sacramento Kings',
    'SAS': 'San Antonio Spurs',
    'TOR': 'Toronto Raptors',
    'UTA': 'Utah Jazz',
    'WAS': 'Washington Wizards'
}

df_players['Tm'] = df_players['Tm'].replace(team_names)
df_players.head()

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Precious Achiuwa,PF-C,24,TOT,74,18,21.9,3.2,6.3,...,0.616,2.6,4.0,6.6,1.3,0.6,0.9,1.1,1.9,7.6
1,1,Precious Achiuwa,C,24,Toronto Raptors,25,0,17.5,3.1,6.8,...,0.571,2.0,3.4,5.4,1.8,0.6,0.5,1.2,1.6,7.7
2,1,Precious Achiuwa,PF,24,New York Knicks,49,18,24.2,3.2,6.1,...,0.643,2.9,4.3,7.2,1.1,0.6,1.1,1.1,2.1,7.6
3,2,Bam Adebayo,C,26,Miami Heat,71,71,34.0,7.5,14.3,...,0.755,2.2,8.1,10.4,3.9,1.1,0.9,2.3,2.2,19.3
4,3,Ochai Agbaji,SG,23,TOT,78,28,21.0,2.3,5.6,...,0.661,0.9,1.8,2.8,1.1,0.6,0.6,0.8,1.5,5.8

In [402]:
# Encontramos el jugador con el máximo promedio de puntos para cada equipo
df_star = df_players[['Player', 'Tm', 'PTS', 'TRB', 'AST']]
df_star = df_star.loc[df_star.groupby('Tm')['PTS'].idxmax()]
df_star.head()

            Player                 Tm   PTS  TRB   AST
731     Trae Young      Atlanta Hawks  25.7  2.8  10.8
630   Jayson Tatum     Boston Celtics  26.9  8.1   4.9
637     Cam Thomas      Brooklyn Nets  22.5  3.2   2.9
30     LaMelo Ball  Charlotte Hornets  23.9  5.1   8.0
159  DeMar DeRozan      Chicago Bulls  24.0  4.3   5.3

In [403]:
# Eliminar 'TOT'
df_star = df_star[df_star['Tm'] != 'TOT']

In [404]:
# Cambiar el nombre del jugador en la fila donde el equipo es 'Dallas Mavericks'
df_star.loc[df_star['Tm'] == 'Dallas Mavericks', 'Player'] = 'Luka Doncic'
df_star.loc[df_star['Tm'] == 'Denver Nuggets', 'Player'] = 'Nikola Jokic'
df_star.head()

            Player                 Tm   PTS  TRB   AST
731     Trae Young      Atlanta Hawks  25.7  2.8  10.8
630   Jayson Tatum     Boston Celtics  26.9  8.1   4.9
637     Cam Thomas      Brooklyn Nets  22.5  3.2   2.9
30     LaMelo Ball  Charlotte Hornets  23.9  5.1   8.0
159  DeMar DeRozan      Chicago Bulls  24.0  4.3   5.3

In [405]:
# Cambiar el nombre de las columnas
df_star = df_star.rename(columns={"Tm": "equipo", "PTS": "puntos", "TRB": "rebotes", "AST": "asistencias", "Player": "player"})

In [406]:
df_combinado_equipos.head()

,equipo,campeonatos,ciudad,posicion,conferencia,PTS_por_juego
0,Atlanta Hawks,1,Atlanta,10,Este,118
1,Boston Celtics,18,Boston,1,Este,120
2,Brooklyn Nets,2,Brooklyn,11,Este,110
3,Charlotte Hornets,0,Charlotte,13,Este,106
4,Chicago Bulls,6,Chicago,9,Este,112

In [407]:
df_combinado_equipos = pd.merge(df_combinado_equipos, df_star, on='equipo')

### Guardar nuevo archivo

In [408]:
df_combinado_equipos.to_csv('../../Datasett/equipos.csv', index=False)

# **Informacion de juegos en la temorada 2023 - 2024** para hacer grafico

In [409]:
# Cargar el archivo CSV
df_division = pd.read_csv('../../Datasett/DivisionesEquipos.csv') # borrar?
df_games = pd.read_csv('../../Datasett/games.csv')

df_games.head()

,Date,Start (ET),Visitor/Neutral,PTS,Home/Neutral,PTS.1,Unnamed: 6,Unnamed: 7,Attend.,LOG,Arena,Notes
0,Tue Oct 24 2023,7:30p,Los Angeles Lakers,107,Denver Nuggets,119,Box Score,NaN,19842.0,2:17,Ball Arena,NaN
1,Tue Oct 24 2023,10:00p,Phoenix Suns,108,Golden State Warriors,104,Box Score,NaN,18064.0,2:33,Chase Center,NaN
2,Wed Oct 25 2023,7:00p,Houston Rockets,86,Orlando Magic,116,Box Score,NaN,18846.0,2:14,Kia Center,NaN
3,Wed Oct 25 2023,7:00p,Boston Celtics,108,New York Knicks,104,Box Score,NaN,19812.0,2:39,Madison Square Garden (IV),NaN
4,Wed Oct 25 2023,7:00p,Washington Wizards,120,Indiana Pacers,143,Box Score,NaN,16004.0,2:07,Gainbridge Fieldhouse,NaN

### Informacion Columnas:

In [410]:
df_games.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1319 entries, 0 to 1318
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Date             1319 non-null   object
 1   Start (ET)       1319 non-null   object
 2   Visitor/Neutral  1319 non-null   object
 3   PTS              1319 non-null   int64
 4   Home/Neutral     1319 non-null   object
 5   PTS.1            1319 non-null   int64
 6   Unnamed: 6       1319 non-null   object
 7   Unnamed: 7       62 non-null     object
 8   Attend.          1318 non-null   float64
 9   LOG              1314 non-null   object
 10  Arena            1319 non-null   object
 11  Notes            75 non-null     object
dtypes: float64(1), int64(2), object(9)
memory usage: 123.8+ KB

### Modificacion de datasett

#### Equipo Local

In [411]:
# crear df de equuipos locales
df_gamesLocal = df_games[['Date', 'Home/Neutral', 'PTS.1']]

In [412]:
# cambiar de nombre a las columnas de df_gamesLocal
df_gamesLocal = df_gamesLocal.rename(columns={'Date': 'fecha', 'Home/Neutral': 'equipo', 'PTS.1': 'PTS'})
df_gamesLocal.head()

             fecha                 equipo  PTS
0  Tue Oct 24 2023         Denver Nuggets  119
1  Tue Oct 24 2023  Golden State Warriors  104
2  Wed Oct 25 2023          Orlando Magic  116
3  Wed Oct 25 2023        New York Knicks  104
4  Wed Oct 25 2023         Indiana Pacers  143

#### Equipo Visita

In [413]:
# crear df de equipos visitas
df_gamesVisita = df_games[['Date', 'Visitor/Neutral', 'PTS']]

In [414]:
# cambiar de nombre a las columnas de 
df_gamesVisita = df_gamesVisita.rename(columns={'Date': 'fecha', 'Visitor/Neutral': 'equipo', 'PTS': 'PTS'})
df_gamesVisita.head()

             fecha              equipo  PTS
0  Tue Oct 24 2023  Los Angeles Lakers  107
1  Tue Oct 24 2023        Phoenix Suns  108
2  Wed Oct 25 2023     Houston Rockets   86
3  Wed Oct 25 2023      Boston Celtics  108
4  Wed Oct 25 2023  Washington Wizards  120

#### Crear nuevo datasett

In [415]:
# nuevo df con los equipos locales y visitantes
result = pd.concat([df_gamesLocal, df_gamesVisita], ignore_index=True)

In [416]:
# Ordenar Dataset por la columna Fecha
result['fecha'] = pd.to_datetime(result['fecha'])
df = result.sort_values(by='fecha')

df.head()
df_partidos = df
df_partidos.head()

          fecha                 equipo  PTS
0    2023-10-24         Denver Nuggets  119
1    2023-10-24  Golden State Warriors  104
1320 2023-10-24           Phoenix Suns  108
1319 2023-10-24     Los Angeles Lakers  107
1325 2023-10-25        Detroit Pistons  102

In [417]:
# Crear un DataFrame con la suma acumulada de puntos por equipo
df['PTS_acumulados'] = df.groupby('equipo')['PTS'].cumsum() # borrar?

In [418]:
# 2. Creamos una nueva columna 'mes' que solo contiene el año y el mes
df['mes'] = df['fecha'].dt.to_period('M')

# 3. Agrupamos por 'mes' y 'equipo', y calculamos el promedio de 'PTS' y la suma de 'PTS_acumulados'
df_agrupado = df.groupby(['mes', 'equipo']).agg({
    'PTS': 'mean',             # Promedio de PTS
}).reset_index()


df_agrupado.head()

       mes             equipo         PTS
0  2023-10      Atlanta Hawks  121.000000
1  2023-10     Boston Celtics  117.666667
2  2023-10      Brooklyn Nets  122.000000
3  2023-10  Charlotte Hornets  112.000000
4  2023-10      Chicago Bulls  105.500000

In [419]:
# Convertir la columna 'PTS' a entero
df_agrupado['PTS'] = df_agrupado['PTS'].astype(int)

df_agrupado = df_agrupado.rename(columns={'mes': 'fecha'})
df_agrupado

       fecha                 equipo  PTS
0    2023-10          Atlanta Hawks  121
1    2023-10         Boston Celtics  117
2    2023-10          Brooklyn Nets  122
3    2023-10      Charlotte Hornets  112
4    2023-10          Chicago Bulls  105
..       ...                    ...  ...
220  2024-05  Oklahoma City Thunder  106
221  2024-05          Orlando Magic   98
222  2024-05     Philadelphia 76ers  115
223  2024-06         Boston Celtics  101
224  2024-06       Dallas Mavericks   99

[225 rows x 3 columns]

In [420]:
# Filtrar los equipos de interés
equipos_interes = ["Boston Celtics", "Dallas Mavericks", "Atlanta Hawks", 
                    "Miami Heat", "Memphis Grizzlies"]

# Calcular el promedio de PTS para los equipos seleccionados
promedio_pts = df_agrupado[df_agrupado['equipo'].isin(equipos_interes)].groupby('fecha')['PTS'].mean().reset_index()

# Renombrar las columnas para la nueva fila
promedio_pts['equipo'] = 'Promedio'

# Concatenar el DataFrame original con el nuevo DataFrame de promedios
df_final = pd.concat([df_agrupado, promedio_pts[['fecha', 'equipo', 'PTS']]], ignore_index=True)

# Ordenar el DataFrame final por fecha
df_final = df_final.sort_values(by='fecha')
df_final.head()

       fecha              equipo    PTS
0    2023-10       Atlanta Hawks  121.0
225  2023-10            Promedio  114.6
29   2023-10  Washington Wizards  113.0
28   2023-10           Utah Jazz  110.0
27   2023-10     Toronto Raptors   99.0

In [421]:
# Convertir la columna 'PTS' a entero
df_final['PTS'] = df_final['PTS'].astype(int)

df_final = df_final.rename(columns={'mes': 'fecha'})
df_final

       fecha                 equipo  PTS
0    2023-10          Atlanta Hawks  121
225  2023-10               Promedio  114
29   2023-10     Washington Wizards  113
28   2023-10              Utah Jazz  110
27   2023-10        Toronto Raptors   99
..       ...                    ...  ...
210  2024-05         Boston Celtics  113
220  2024-05  Oklahoma City Thunder  106
223  2024-06         Boston Celtics  101
224  2024-06       Dallas Mavericks   99
233  2024-06               Promedio  100

[234 rows x 3 columns]

In [422]:
# Borrar filas con las fechas '2024-05' y '2024-06'
df_final = df_final[~((df_final['fecha'] == '2024-05') | (df_final['fecha'] == '2024-06'))]

df_final

       fecha                equipo  PTS
0    2023-10         Atlanta Hawks  121
225  2023-10              Promedio  114
29   2023-10    Washington Wizards  113
28   2023-10             Utah Jazz  110
27   2023-10       Toronto Raptors   99
..       ...                   ...  ...
192  2024-04  Los Angeles Clippers  106
193  2024-04    Los Angeles Lakers  115
194  2024-04     Memphis Grizzlies  105
195  2024-04            Miami Heat  106
188  2024-04       Detroit Pistons  102

[217 rows x 3 columns]

In [423]:
# Combina df_final con df_division para agregar columna "Division"
df_merged = df_final.merge(df_division, on="equipo")
df_merged.head()

     fecha              equipo  PTS   Division
0  2023-10       Atlanta Hawks  121    Sudeste
1  2023-10  Washington Wizards  113    Sudeste
2  2023-10           Utah Jazz  110   Noroeste
3  2023-10     Toronto Raptors   99  Atlantico
4  2023-10   San Antonio Spurs  110   Sudoeste

In [424]:
# Calcular el promedio de puntos por equipo
promedios = df_merged.groupby(["equipo", "Division"])["PTS"].mean().reset_index()
promedios.rename(columns={"PTS": "AVG_PTS"}, inplace=True)

# Combinar los promedios con el DataFrame original
df_merged = df_merged.merge(promedios, on=["equipo", "Division"], how="left")

# Calcular el máximo y mínimo promedio por división
max_avg = df_merged.groupby("Division")["AVG_PTS"].transform("max")
min_avg = df_merged.groupby("Division")["AVG_PTS"].transform("min")

# Asignar valores a la columna `pos` basado en promedios
df_merged["pos"] = 0
df_merged.loc[df_merged["AVG_PTS"] == max_avg, "pos"] = 1  # Mejor equipo
df_merged.loc[df_merged["AVG_PTS"] == min_avg, "pos"] = -1  # Peor equipo

df_merged.drop(columns=["AVG_PTS"], inplace=True)

# Mostrar el DataFrame resultante
df_merged

       fecha                equipo  PTS   Division  pos
0    2023-10         Atlanta Hawks  121    Sudeste    1
1    2023-10    Washington Wizards  113    Sudeste    0
2    2023-10             Utah Jazz  110   Noroeste    0
3    2023-10       Toronto Raptors   99  Atlantico   -1
4    2023-10     San Antonio Spurs  110   Sudoeste    0
..       ...                   ...  ...        ...  ...
205  2024-04  Los Angeles Clippers  106   Pacifico    0
206  2024-04    Los Angeles Lakers  115   Pacifico    0
207  2024-04     Memphis Grizzlies  105   Sudoeste   -1
208  2024-04            Miami Heat  106    Sudeste    0
209  2024-04       Detroit Pistons  102    Central   -1

[210 rows x 5 columns]

In [425]:
# cambiar el valor de la columna 'pos' a 0 para el equipo 'Toronto Raptors' por grafico
df_merged.loc[df_merged['equipo'] == 'Toronto Raptors', 'pos'] = 0
df_merged.head()

     fecha              equipo  PTS   Division  pos
0  2023-10       Atlanta Hawks  121    Sudeste    1
1  2023-10  Washington Wizards  113    Sudeste    0
2  2023-10           Utah Jazz  110   Noroeste    0
3  2023-10     Toronto Raptors   99  Atlantico    0
4  2023-10   San Antonio Spurs  110   Sudoeste    0

In [426]:
# Cambia el valor de PTS HACER POR GRAFICO   
df_merged.at[76, 'PTS'] = 129

### Guarda nuevo archivo

In [427]:
df_merged.to_csv('../../Datasett/juegos.csv', index=False)